<table style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;" cellpadding="0" cellspacing="0">
  <tbody>
  <tr>
    <td style="padding-left:15px; padding-right:15px; ">
      <table class="r" style="margin: 0 auto; background-color:#ffffff; border-spacing: 0; width:600px;" align="center">
        <tbody>
        <tr>
          <td style="padding-top: 15px; padding-bottom: 30px; padding-left: 30px; padding-right: 30px;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100%;">
              <tbody>
              <tr>
                <td style="text-align: left; padding: 0 0 0;">
                  <div style="margin-right: auto; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; color: #444444; font-size: 16px; line-height: 1.4;">
                    <%= yield %>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
